:root {
    --yellow: #FFC300;
  }
body{
    background-image:url("currency.jpg");
}
#currency{
width:500px;
height:500px;
margin:auto;
margin-top:100px;
border:2px solid black;
text-align: center;
background-color:black;
opacity: 0.80;
} 
div select {
    width: 200px;
    height: 50px;
    background-color:var(--yellow) ; 
}  
select:active, select:hover ,select:focus{
    outline: none;
    border: 2px solid var(--yellow) ;
}
select:hover{
    opacity: 0.5;
    background-color: var(--yellow)  ;
    color: black;
}
.currency-amount input{
    margin-top:20px;
    width:  50%;
    height: 45px;
    font-size:25px;
    border:1px solid var(--yellow) ;
    background-color:var(--yellow) 
    
}
.currency-calculate button{
   width: 50%;
   height: 30px;
   margin:20px 0;
   color: #FF5733;
   background-color:#044658 ;
   border:1px solid var(--yellow) 
}
.currecy-result{
    margin-top:20px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color:rgb(163, 31, 4) ;
}